[submodule "themes/hugo-bearblog"]
	path = themes/hugo-bearblog
	url = https://github.com/janraasch/hugo-bearblog.git
[submodule "themes/typo"]
	path = themes/typo
	url = https://github.com/tomfran/typo.git
